.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header 스타일 */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 항상 위에 표시되도록 설정 */
  background-color: #333;
  color: white;
}

/* Carousel 스타일 */
.cover-carousel {
  margin-top: 80px; /* Header 높이만큼 여백 추가 */
  z-index: 1;
  position: relative;
}

/* About Section */
.about {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Reviews Section */
.reviews {
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

/* Footer 스타일 */
footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}
